.verify-page-wrapper {
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* để snowfall thấy phía sau */
  position: relative;
  z-index: 10;
}

.otp-container {
  background: linear-gradient(
    135deg,
    #0b0b0b 0%,
    #141414 45%,
    rgba(212, 164, 70, 0.12) 100%
  );
  position: relative;
  width: 850px;
  height: 550px;
  border: 2px solid #d4a446;
  box-shadow: 0 0 25px rgba(212, 164, 70, 0.3);
  overflow: hidden;
  border-radius: 20px;
}

.form-box-otp {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 0;
  padding: 0 40px;
}

.form-box-otp .animation {
  transform: translateX(0%);
  transition: 0.7s;
  opacity: 1;
  transition-delay: calc(0.1s * var(--S));
}

.info-content-otp {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
}

.info-content-otp .animation {
  transform: translateX(0);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--S));
  opacity: 1;
  filter: blur(0px);
}

.curved-shape-otp {
  position: absolute;
  right: 0;
  top: -5px;
  height: 600px;
  width: 850px;
  background: linear-gradient(45deg, #2d2d39, #d4a446);
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  transition: 1.5s ease;
  transition-delay: 1.6s;
}

.curved-shape2-otp {
  position: absolute;
  left: 250px;
  top: 100%;
  height: 700px;
  width: 850px;
  background: #2d2d39;
  border-top: 3px solid #d4a446;
  transform: rotate(0deg) skewY(0deg);
  transform-origin: bottom left;
  transition: 1.5s ease;
  transition-delay: 0.5s;
}
